:root {
  --white: #ffffff;
  --lightred: #f9433dcc;
  --lightblue: #337af1;

  --primary: #00509d;
  --secondary: #00a6fb;
  --tertiary: ##ff5500;
  --success: #38b000;
  --warning: #ffd60a;
  --danger: #f9423d;
  --dark: #222428;
  --medium: #92949c;
  --light: #fafafa;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #222428;
  font-family: sans-serif;
  padding: 10px;
  padding-bottom: 0px;
  border-top: 10px solid #ff5500;
  border-bottom: 10px solid #ff5500;
  border-radius: 10px;
}

.container {
  width: 720px;
  margin: 0 auto;
}

.main-header {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.first-header {
  /* box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3); */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

nav {
  font-size: 18px;
}

.header-flex {
  margin: 4px;
}
.nav-links {
  margin: 0;
}

.nav-link {
  display: inline-flex;
  margin-right: 4px;
  margin-bottom: 0px;
}
/* .nav-link::before {
  content: "|";
  left: -0px;
  top: 50%;
  transform: translateY(-5%);
}

.nav-link:first-child::before {
  content: "";
  left: -0px;
  top: 50%;
  transform: translateY(-5%);
} */

article {
  display: block;
  margin-bottom: 40px;
}

.post-header {
  margin-bottom: 40px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.code-on-screen {
  display: block;
  border: outset;
  border-radius: 20px 20px 20px 20px;
  border-color: #ff5500;
  margin: 0 auto;
  width: 98%;
  height: auto;
}

/* LVHA */
.mdn-web-docs {
  /* margin: auto auto auto 6px; */
  padding: 6px;
  border-style: outset;
  border-radius: 10px;
}

a:link {
  color: #ff5500;
  text-decoration: none;
}

a:visited {
  color: #ff5500;
}

a:hover {
  color: #00a6fb;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

a:active {
  color: #222428;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  transition: ease-out 0.1s;
}

aside {
  background-color: #f7f7f7;
  margin: 0 auto;
  border-top: 5px solid #ff5500;
  border-bottom: 5px solid #ff5500;
  border-radius: 10px;
  padding: 40px 0px;
  width: 500px;
}

.related-title {
  margin-bottom: 20px;
}

.related-author {
  margin-top: 6px;
  font-size: 16px;
  font-weight: bold;
}

.related-img {
  border-radius: 10px;
}

.no-bullets {
  list-style: none;
}

.related-item {
  display: flex;
  align-items: center;
}

.related-link {
  margin-left: 20px;
}

footer {
  margin-top: 20px;
  margin-bottom: 4px;
}

#copyright {
  margin-bottom: 2px;
  color: #222428;
  font-size: 18px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #ff5500;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
}

ul,
ol {
  margin-left: 40px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* This won't work */
article p:first-child {
  color: red;
}
/* End */

@media screen and (max-width: 768px) {
  .container {
    width: 360px;
  }

  .main-header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* .code-on-screen {
    display: block;
    margin: 0 auto;
    width: 98%;
    height: auto;
  } */

  .header-flex {
    margin: 4px;
    text-align: center;
  }

  aside {
    width: auto;
    margin: 0 auto;
    padding: 20px 0px;
  }

  .related-link {
    margin-left: 10px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 320px;
  }

  .main-header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* .code-on-screen {
    display: block;
    margin: 0 auto;
    width: 98%;
    height: auto;
  } */

  .header-flex {
    margin: 4px;
    text-align: center;
  }

  aside {
    width: auto;
    margin: 0 auto;
    padding: 20px 0px;
  }

  p {
    font-size: 16px;
  }

  .nav-link {
    font-size: 18px;
  }
  .related-link {
    margin-left: 10px;
  }

  a {
    font-size: small;
  }
}
